.app-container{
    margin: 80px;
}

.footer-container{
    margin: 0px 80px;
}

.helvetica-regular {
    font-family: Helvetica;
}

.helvetica-light {
    font-family: Helvetica-Light;
}

.link-hover:hover{
    font-family: Helvetica;
    color: black;
}

.size-large {
    font-size: 12px;
}

.size-medium {
    font-size: 10px;
}

.light-grey {
    color: #969696;
}

h4 {
    font-size: 8px;
}

nav {
    display: block;
}

li {
    list-style: none;
}

.logo-img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 15px;
}

.brand-name {
    color: black;
    vertical-align: auto;
}

.navbar-top-margin {
    margin-top: 40px;
}

.my-footer {
    position: fixed;
    left: 20px;
    bottom: 50px;
    width: 100%;
    text-align: left;
}

.information-block {
    width: 70vh;
    height: 40vh;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.instagram-logo-medium {
    font-size: 36px;
    color: black;
}

.portrait-image-size {
    width: 110px;
    height: 150px;
    margin-right: 10px;
}