.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.helvetica-regular {
    font-family: Helvetica;
}

.helvetica-light {
    font-family: "Helvetica-Light";
}

.size-large {
    font-size: 12px;
}

.size-medium {
    font-size: 10px;
}

.light-grey {
    color: #969696;
}

h4 {
    font-size: 8px;
}

nav {
    display: block;
}

li {
    list-style: none;
}

.logo-img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 15px;
}

.brand-name {
    float: left;
    vertical-align: bottom;
}

.navbar-top-margin {
    margin-top: 40px;
}

.my-footer {
    position: fixed;
    left: 20px;
    bottom: 50px;
    width: 100%;
    text-align: left;
}

.information-block {
    width: 50%;
    height: 400px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.instagram-logo-medium {
    font-size: 36px;
}

.portrait-image-size {
    width: 110px;
    height: 150px;
    margin-right: 10px;
}